<% unless logged_in?%>
	<p>ログインしてください</p>
<% else %>
	<%= link_to 'つぶやく', new_tweet_path %>
	<%= link_to '所属グループ一覧', groups_path %>

	<p>タイムライン</p>
	<% @tweets.each do |t| %>
		<%= render partial: 'tweet', locals: {t: t} %>
	<% end %>

<% end %>