

<% unless logged_in?%>
	<%= render partial: 'layouts/majitter' %>

<% else %>

	<% if @tweets.any? %>
		<!-- <p>タイムライン</p> -->
		<div id="timeline">
			<div class="page">
				<%= render @tweets %> 
			</div>
		</div>
		<div class="center">
			<%= paginate @tweets, remote: true %>
		</div>

	<% else %>
		<div class="center">
			<p>Majitterへようこそ！</p>
			<p>グループを作成して友だちとのコミュニケーションを楽しみましょう！</p>
		</div>

	<% end %>
	

<% end %>
