

<% unless logged_in?%>
	<p>ログインしてください</p>

<% else %>

	
	<!-- <p>タイムライン</p> -->

	<div id="timeline">
		<div class="page">
			<%= render @tweets %> 
		</div>
	</div>

	<%= paginate @tweets, remote: true %>
	

<% end %>
