

<% unless logged_in?%>
	<p>ログインしてください</p>

<% else %>

	
	<!-- <p>タイムライン</p> -->
	<div class="timeline">
		<%= render @tweets %> 
	</div>
	

<% end %>





<!-- render partial: 'tweet', locals: {tweets: @tweets} -->