<% unless logged_in?%>
	<p>ログインしてください</p>

<% else %>

	
	<!-- <p>タイムライン</p> -->
	<div class="tweet-index">
		<%= render 'tweet' %>
	</div>
	

<% end %>





<!-- partial: 'tweet', locals: {tweets: @tweets} -->