




<!-- 
<p>＜所属グループ一覧＞</p>
<% @member_groups.each do |g| %>
	<p><%= g.group_name %></p>
	<%= link_to '詳細', "/groups/#{g.id}" %>

<% end %> -->



<div class="panel panel-default active">
  <div class="panel-body">
    <%= link_to g.group_name, "/groups/#{g.id}" %>
  </div>
</div>