
<div class="row">
  <div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">グループ</li>
    </ol>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>

<div class="row">
	<div class="col-xs-0 col-sm-2"></div>
  <div class="col-xs-12 col-sm-8">
    <div class="page-header">
      <!-- <button type="button" class="btn btn-default" href="/groups/new">グループをつくる</button> -->
      <a class="btn btn-primary" href="/groups/new" role="button">グループをつくる</a>
   </div>
  </div>
  <div class="col-xs-0 col-sm-2"></div>
</div>


<% if @groups.any? %>

  <div id="group-list">
    <div class="page">
      <%= render @groups %>
    </div>
  </div>
  <div class="center">
    <%= paginate @groups, remote: true %>
  </div>

<% else %>
	<div class="row">
		<div class="col-xs-0 col-sm-2"></div>
  		<div class="col-xs-12 col-sm-8"><p>グループはまだありません。グループを作成して見ましょう！</p></div>
  		<div class="col-xs-0 col-sm-2"></div>
	</div>

<% end %>


