

<div class="row">
	<div class="col-xs-0 col-sm-2"></div>
  	<div class="col-xs-12 col-sm-8">
  		<ul class="nav nav-tabs">
  			<li role="presentation"><a href="/groups">グループ</a></li>
 			<li role="presentation" class="active"><a href="/requests">リクエスト</a></li>
 		</ul>
  	</div>
  	<div class="col-xs-0 col-sm-2"></div>
</div>




<% unless @requests==[] %>
	<div class="row">
		<div class="col-xs-0 col-sm-2"></div>
  		<div class="col-xs-12 col-sm-8"><p>＜招待されているグループ一覧＞</p></div>
  		<div class="col-xs-0 col-sm-2"></div>
	</div>
	<% @requests.each do |r| %>
		<div class="row">
			<div class="col-xs-0 col-sm-2"></div>
  			<div class="col-xs-12 col-sm-8"><%= render partial: 'request', locals: {r: r} %></div>
  			<div class="col-xs-0 col-sm-2"></div>
  		</div>
	<% end %>

<% else %>
	<div class="row">
		<div class="col-xs-0 col-sm-2"></div>
  		<div class="col-xs-12 col-sm-8"><p>リクエストはありません。</p></div>
  		<div class="col-xs-0 col-sm-2"></div>
	</div>
<% end %>