
<div class="jumbotron">
	<div class="container">
  		<h1>Majitter</h1>
  		<p>Majitter enables you to tweet in private groups as LINE's group talk.</p>
  		<p><a class="btn btn-primary btn-lg" href="/auth/twitter" role="button">使ってみる</a></p>
  	</div>
</div>

<div class="row">
    <div class="col-xs-0 col-sm-1"></div>
    <div class="col-xs-12 col-sm-10">

	    <div class="page-header">
  			<h1>Concept <small>-Majitterとはいかなるものか-</small></h1>
		</div>
		<div class="media">
  			<div class="media-body">
    			<!-- <h4 class="media-heading">Media heading</h4> -->
    			今日、Twitter や LINE といったSNSは、私たちにとってメジャーなコミュニケーションツールですね。<br>
    			LINE の グループトーク では、複数の仲間たちと同時に会話を楽しむことができます。<br>
    			Twitter では、つぶやくことによって多くの人たちと情報や感動を共有することができます。<br>
    			<br>
    			でも、こんなことってありませんか？<br>
    			<br>
    			「これちょっとおもしろいんだけど、LINEで送るほどでもないな。」<br>
    			「この感動を伝えたい！ でも、フォロワーみんなじゃなくていいんだけど…」<br>
    			<br>
    			Majitter はこんなときに使えるコミュニケーションツールです。<br>
    			Majitter は、<br>
    			<br>
    			<ul>
  					<li><h2>LINE の グループトーク のようなプライベートな空間</h2></li>
  					<li><h2>Twitter のような返信を前提としないコミュニケーションのかたち</h2></li>
  				</ul>
  				<br>
    			を提供いたします。<br>
    			使い慣れた LINE や Twitter の延長感覚で、簡単に利用することができます。<br>
    			<br>
  			</div>
		</div>

		<div class="page-header">
  			<h1>How to use <small>-Majitterの使い方-</small></h1>
		</div>
		<div class="media">
  			<div class="media-body">
    			<!-- <h4 class="media-heading">Media heading</h4> -->
    			まずは Twitterアカウントで Majitter にログインしてみましょう。<br>
    			Majitter は、Twitter APIを用いたサービスです。お持ちのTwitterアカウントで利用することができます。新たな登録の手間は必要ありません。<br>
    			<br>
    			ログインしたら、まずは LINE の グループトーク のようにグループを作りましょう。<br>
    			Twitterアカウントのフォロワーからメンバーを選んで、グループを作成することができます。  ※ メンバーは Majitter を利用している必要があります。<br>
    			<br>
    			グループをつくれたら、Twitter のようにつぶやいてみましょう。<br>
    			Majitter ではつぶやくときにグループを選択してつぶやきます。そのtweetはグループのメンバーでのみ共有されます。<br>
    			<br>
  			</div>
		</div>

		<div class="page-header">
  			<h1>Detail <small>-Majitterが取得する情報-</small></h1>
		</div>
		<div class="media">
  			<div class="media-body">
    			<!-- <h4 class="media-heading">Media heading</h4> -->
    			Majitterは、あなたのTwitterアカウントの情報をもとに成り立つサービスです。<br>
    			Majitterは Twitter API を通して以下の情報を取得します。<br>
    			<ul>
  					<li>ユーザーid</li>
  					<li>ユーザー名</li>
  					<li>アカウント名</li>
  					<li>プロフィール画像のurl</li>
  					<li>自己紹介</li>
  					<li>プロフィールの背景画像のurl</li>
  					<li>フォロワーのid</li>
  				</ul>
  				これらの情報は読み取るだけであり、Majitter が Twitterアカウント に対して影響を及ぼすことはありません。<br>
  				フォロワーのid以外の上記の情報と、Majitter上でのあなたのtweetは、Majitterのデータベースに保存されます。<br>
  				また、これらの情報は、Majitterのサービス以外で用いられることはありません。<br>
  				あなたが Majitter を退会する際には、Majitterのデータベースからこれらの情報はすべて削除されます。<br>
  				<br>

  			</div>
		</div>

    </div>
    <div class="col-xs-0 col-sm-1"></div>
</div>

